@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background: #000; }

#root {
  color: #fff; }

#root .container {
  padding: 0;
  margin: 0;
  width: 100%; }

.headline {
  text-transform: uppercase; }

.panel-body p {
  line-height: 1.5; }

.pricing-calc {
  background: #333333;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 1s; }
  @media (min-width: 768px) {
    .pricing-calc {
      align-items: flex-start; } }
  .pricing-calc--fixed {
    position: fixed;
    top: 80px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 768px) {
      .pricing-calc--fixed {
        width: 750px; } }
    @media (min-width: 992px) {
      .pricing-calc--fixed {
        top: 72px;
        width: 970px; } }
    @media (min-width: 1200px) {
      .pricing-calc--fixed {
        width: 1170px; } }
  .pricing-calc__amounts {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .pricing-calc__amounts {
        flex-direction: row;
        align-items: flex-start; } }
  .pricing-calc__total-wrapper {
    margin: 10px 0 0 0;
    display: inline-flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .pricing-calc__total-wrapper {
        margin: 0 0 0 40px; } }
  .pricing-calc__new-total {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0; }
    @media (min-width: 569px) {
      .pricing-calc__new-total {
        font-size: 1.5rem; } }
    .pricing-calc__new-total.no-procedures-selected {
      opacity: .2; }
  .pricing-calc__old-total {
    display: inline-block;
    font-size: .9rem;
    margin: 3px auto 0;
    text-decoration: line-through; }
    @media (min-width: 569px) {
      .pricing-calc__old-total {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .pricing-calc__old-total {
        margin: 3px 0 0 0; } }
  .pricing-calc__animated-number {
    transition: background-color 0.8s ease-out 0s, color, opacity; }
  .pricing-calc__discount {
    border-bottom: 2px solid #0283ae;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 0 5px 0;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.3s; }
    @media (min-width: 569px) {
      .pricing-calc__discount {
        font-size: 1.5rem; } }
  .pricing-calc__selection-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0 0; }
    @media (min-width: 768px) {
      .pricing-calc__selection-wrapper {
        align-items: center;
        flex-direction: row;
        margin: 50px 0 0; } }
  .pricing-calc__text {
    font-size: 1rem;
    font-weight: 100;
    margin: 5px 0;
    text-transform: capitalize; }
    @media (min-width: 768px) {
      .pricing-calc__text {
        font-size: 1.2rem;
        margin: 0 0 0 30px; } }
    .pricing-calc__text.none-selected {
      margin: 0; }
  .pricing-calc__clear {
    background: #0283ae;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px; }
    @media (min-width: 768px) {
      .pricing-calc__clear {
        margin: 0; } }
    @media (min-width: 1025px) {
      .pricing-calc__clear:hover {
        background: #6fbfe2; } }

@media (min-width: 569px) {
  .procedure-list {
    columns: 2; } }

@media (min-width: 1241px) {
  .procedure-list {
    columns: 3; } }

.procedure-list__category {
  display: block;
  margin-bottom: 0px; }
  @media (min-width: 569px) {
    .procedure-list__category {
      display: inline-block;
      margin-bottom: 30px;
      width: 100%; } }

.procedure-list__category-header {
  color: #0283ae;
  font-size: 2rem;
  font-weight: 400;
  margin: 10px 0; }

.procedure {
  color: #fff;
  margin-bottom: 10px;
  padding: 15px 50px 15px 10px;
  position: relative;
  transition: 0.3s all; }
  @media (min-width: 1025px) {
    .procedure:hover {
      background: rgba(200, 200, 200, 0.15);
      cursor: pointer; } }
  .procedure__label {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    display: inline-block; }
    @media (min-width: 1025px) {
      .procedure__label {
        font-size: 1.4rem; } }
  .procedure__info-link {
    color: #0283ae;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0 0 5px;
    text-decoration: none;
    text-transform: lowercase;
    z-index: 10; }
  .procedure__price {
    margin: 0; }
  .procedure--selected {
    background: #0283ae; }
    @media (min-width: 1025px) {
      .procedure--selected:hover {
        padding: 15px 50px 15px 10px;
        background: #0283ae; } }
    .procedure--selected .procedure__info-link {
      color: #fff; }
  .procedure__deselect::before {
    content: '\00d7';
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 40px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center; }
